APScheduler==3.10.4
backports.zoneinfo==0.2.1
certifi==2023.11.17
charset-normalizer==2.0.12
cycler==0.11.0
idna==3.6
importlib-metadata==6.7.0
kiwisolver==1.4.5
matplotlib==3.0.2
mysql-connector-python==8.0.15
numpy==1.21.0
pandas==0.25.3
protobuf==4.24.4
pymssql==2.2.9
pymsteams==0.2.1
PyMySQL==0.9.3
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2018.9
requests==2.27.1
schedule==1.2.0
six==1.12.0
SQLAlchemy==1.3.0
typing_extensions==4.7.1
tzlocal==5.1
urllib3==1.26.5
zipp==3.15.0